/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* styles */
/* line 11, ../_scss/screen.scss */
body {
  text-align: center;
  padding-top: 100px;
}

/* line 15, ../_scss/screen.scss */
#Question {
  font-size: 200px;
  font-weight: bold;
  line-height: 1;
  border: 1px solid #cccccc;
  display: inline-block;
  padding: 0 10px;
  margin: 20px auto;
  user-select: none;
  border-radius: 20px;
}

/* line 27, ../_scss/screen.scss */
ul {
  width: 604px;
  margin: 0 auto 30px;
  padding: 0;
  overflow: hidden;
  *zoom: 1;
  border-radius: 10px;
}
/* line 34, ../_scss/screen.scss */
ul li {
  cursor: pointer;
  margin: 0;
  padding: 10px 0;
  width: 300px;
  font-size: 50px;
  border: 1px solid #cccccc;
  float: left;
  list-style: none;
}
/* line 44, ../_scss/screen.scss */
ul li:hover {
  background-color: #fcc;
}

/* line 49, ../_scss/screen.scss */
.result {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 400px;
  margin-left: -200px;
  margin-top: -200px;
  text-align: center;
  width: 400px;
  height: 400px;
  line-height: 1;
  vertical-align: middle;
  display: block;
  background: rgba(255, 255, 255, 0.75);
  display: none;
}

/* line 65, ../_scss/screen.scss */
.history {
  border: 1px solid #cccccc;
  font-size: 32px;
  margin: 30px auto;
  clear: both;
}
/* line 71, ../_scss/screen.scss */
.history th, .history td {
  padding: 4px 10px;
  border-right: 1px solid #cccccc;
}
/* line 75, ../_scss/screen.scss */
.history th {
  border-bottom: 1px solid #cccccc;
}
