<!DOCTYPE HTML>
<html lang="ja" ng-app>
<head>
<meta charset="utf-8">
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
<link href="css/screen.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
  <div ng-controller="mainCtrl">
    <p id="Question">{{questionMsg}}</p>
    <div id="Answer">
      <ul>
        <li id="Fizz" ng-click="onClick('Fizz')">Fizz</li>
        <li id="Buzz" ng-click="onClick('Buzz')">Buzz</li>
        <li id="FizzBuzz" ng-click="onClick('FizzBuzz')">FizzBuzz</li>
        <li id="Other" ng-click="onClick('Other')">Other</li>
      </ul>
    </div>
    <div class="result">{{resultMsg}}</div>

    <table class="history">
      <tr>
        <th>出題</th>
        <th>あなたの回答</th>
        <th>正否</th>
      </tr>
      <tr ng-repeat="log in logs">
        <td>{{log.question}}</td>
        <td>{{log.answer}}</td>
        <td>{{log.result}}</td>
      </tr>
    </table>
    <!-- <ul class="history">{{history}}</ul> -->
  </div>
</body>
</html>