/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/utilities/general/clearfix";

/* styles */

body { 
	text-align: center;
	padding-top: 100px;
}
#Question {
	font-size: 200px;
	font-weight: bold;
	line-height: 1;
	border: 1px solid #ccc;
	display: inline-block;
	padding: 0 10px;
	// width:200px;
	margin: 20px auto;
	user-select: none;
	border-radius: 20px;
}
ul {
	width:604px;
	margin: 0 auto 30px;
	padding:0;
	@include clearfix;
	border-radius: 10px;

	li {
		cursor: pointer;
		margin:0;
		padding:10px 0;
		width:300px;
		font-size: 50px;
		border:1px solid #ccc;
		float: left;
		list-style: none;

		&:hover {
			background-color: #fcc;
		}
	}
}
.result {
	position:  absolute;
	left : 50%;
	top: 50%;
	font-size: 400px;
	margin-left: -200px;
	margin-top: -200px;
	text-align: center;
	width: 400px;
	height: 400px;
	line-height: 1;
	vertical-align: middle;
	display: block;
	background: rgba( 255,255,255,0.75);
	display: none;
}
.history {
	border: 1px solid #ccc;
	font-size: 32px;
	margin: 30px auto;
	clear: both;

	th,td {
		padding: 4px 10px;
		border-right: 1px solid #ccc;
	}
	th {
		border-bottom: 1px solid #ccc;
	}
}


// ゲームスタート時スタイル
#StartPanel  {
	width:  100%;
	height: 100%;
	position: absolute;
	display: block;
	background: rgba( 255,255,255,0.75);
}
#StartBtn {
	font-size: 50px;
	width:  600px;
	color: #fff;
	border-radius: 60px;
	display: block;
	margin: 180px auto;
	cursor: pointer;
	background: rgba( 150,0,0,1);

	&:hover {
		background: rgba( 180,150,0,1);
	}
}

